.about{
  &-main{
    &__inner{
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      *{
        text-align: center;
      }
    }
  }
  &-second{
    padding-top: 0;
    &__block{
      width: 100%;
      min-height: 560px;
      background-size: 50%;
      background-position: right center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      .container{
        display: flex;
        justify-content: flex-start;
      }
      &:nth-child(even){
        margin-top: 96px;
        background-position: left center;
        .container{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    &__content{
      max-width: 512px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .icon{
        border-radius: 28px;
        border: 8px solid  #E6EEF1;
        background: #CCDEE2;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h3{
        margin: 0;
        font-size: 30px;
        line-height: 38px;
        font-weight: 600;
        color: $black-color;
      }
      p{
        margin: 0;
        color: #475467;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  &-third{
    background: $black-color;
    &__inner{
      display: flex;
      justify-content: space-between;
    }
    &__left{
      width: calc(33.3333% - 42.666px);
      .title{
        color: white;
        margin-top: 24px;
        margin-bottom: 0;
      }
    }
    &__right{
      width: calc(66.6666% - 42.666px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: -32px;
      div{
        width: calc(50% - 32px);
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        p{
          margin: 0;
          color: white;
          font-size: 20px;
          font-weight: 600;
        }
        span{
          color: #FBFBFB;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .about{
    &-third{
      &__inner{
        flex-wrap: wrap;
      }
      &__left, &__right{
        width: 100%;
      }
      &__right{
        margin-top: 48px;
        div{
          width: 100%;
        }
      }
    }
  }
}