.main{
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('@/assets/images/main-bg.jpg'), lightgray 50%;
  background-size: cover !important;
  background-position: center center !important;
  &__inner{
    padding: 174px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    max-width: 560px;
    min-height: calc(100vh - 80px);
    .h1{
        margin: 0;
        color: $white;
        font-size: 60px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: -1.2px;
        span{
          display: block;
          color: #B3CDD4;
        }
    }
    .subtitle{
      color: #E6EEF1;
      margin: 0;
    }
  }
}

.product-slider, .services-slider, .major-slider, .team-slider{
  overflow: hidden;
  width: 100%;
  &__inner{
    overflow-x: visible;
    .splide{
      position: relative;
      right: 0;
      width: max-content;
      margin: 0 -16px;
    }
    .splide__arrows{
      .splide__arrow--prev{
        left: calc(1232px - 120px);
      }
      .splide__arrow--next{
        right: auto;
        left: calc(1232px - 48px);
      }
      .splide__arrow{
        top: -70px;
        width: 48px;
        height: 48px;
        background: white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        border-radius: 28px;
        border: 1px solid var(--Gray-200, #EAECF0);
        background: rgba(255, 255, 255, 0.90);
        backdrop-filter: blur(4px);
      }
    }
    .slide-item{
      width: 280px;
      height: 338px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin: 0 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        object-fit: cover;
        object-position: top center;
        z-index: -1;
      }
      &__content{
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
        padding: 16px;
        p{
          margin: 0;
          font-size: 18px;
          color: white;
          font-weight: 600;
          margin-bottom: 8px;
        }
        a{
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: 14px;
          font-weight: 600;
          color: #E6EEF1;
          svg{
            margin-left: 8px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  &__header{
    max-width: 860px;
    width: 100%;
    margin-bottom: 40px;
    .subtitle{
      margin-bottom: 0;
    }
  }

}

.major-slider{
  &__inner{
    .slide-item{
      width: 384px;
      p{
        color: #E6EEF1;
        font-size: 18px;
        margin-bottom: 16px;
      }
      ul{
        padding-left: 0;
        li{
          display: flex;
          align-items: center;
          gap: 8px;
          svg,img{
            width: 24px;
            height: 24px;
          }
          span{
            color: #B3CDD4;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.team-slider{
  &__inner{
    .slide-item{
      &__content{
        border-top: 1px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(12px);
        h3{
          margin: 0;
          font-size: 14px;
          color: $white;
          font-weight: 500;
        }
        p{
          margin-bottom: 4px;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

.services-slider{
  background: $main-color;
  &__header{
    *{
      color: white !important;
    }
  }
}

.solutions{
  background: $black-color;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>div{
      max-width: calc(50% - 32px);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
    img{
      width: 100%;
    }
    h2{
      margin: 0;
      color: $white;
      font-size: 48px;
      font-weight: 600;
      line-height: 60px; 
      letter-spacing: -0.96px;
    }
    .subtitle{
      color: #EAECF0;
      margin: 0;
    }
    a{
      width: max-content;
      text-decoration: none;
    }
  }
}

.partners{
  &__inner{
    .title{
      text-align: center;
      margin: 0;
    }
    .cards{
      margin-top: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      img{
        max-width: 14%;
        max-height: 120px;
        object-fit: contain;
        object-position: center center;
      }
    }
  }
}

.actions{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content, &__sliders{
    width: calc(50% - 16px);
  }
  &__content{
  }
  &__sliders{
    position: relative;
    padding-left: 50px;
    .swiper-pagination{
      margin-top: 20px;
      height: 24px;
      display: flex;
      align-items: center;
      padding-left: 180px;
      .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        background: #CCDEE2;
        border-radius: 8px;
        display: block;
        & + .swiper-pagination-bullet{
          margin-left: 12px;
        }
        &-active{
          background: $main-color !important;
        }
      }
    }
    .swiper-slide {
      width: 400px !important;
      min-width: 400px !important;
      max-width: 400px !important;
      height: 192px;
      border-radius: 10px;
      background-color: $main-color;
      background-image: url('@/assets/images/actions-bg.svg');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 16px;
      margin-left: 16px;
      span{
        color: white;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -1.2px;
        font-weight: 600;
      }
      p{
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: white;
        font-weight: 600;
      }
      &:nth-child(2){
        background-color: #FFD504;
      }
      &:nth-child(3){
        background-color: #E6EEF1;
      }
      &:nth-child(4){
        background-color: $black-color;
      }
    }
  }
}

.request{
  background: #F9FAFB;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form{
      width: 415px;
      input{
        margin-bottom: 16px;
      }
      button{
        margin-top: 20px;
      }
    }
    .content{
      width: calc(100% - (415px + 32px));
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title{
        margin: 0;
      }
      .subtitle{
        margin: 0;
        max-width: 65%;
      }
    }
  }
}

@media (max-width: 767px){
  .main{
    &__inner{
      padding: 200px 0;
      gap: 16px;
      .h1{
        font-size: 36px;
        line-height: 44px;
        span{
          display: inline;
        }
      }
    }
  }

  .solutions{
    &__inner{
      flex-direction: column;
      align-items: flex-start;
      h2{
        font-size: 30px;
        line-height: 38px;
      }
      button{
        margin-top: 16px;
        width: 100%;
      }
      &>div{
        width: 100%;
        max-width: 100%;
        gap: 16px;
      }
      img{
        margin-top: 32px;
      }
    }
  }

  .product-slider, .services-slider, .major-slider, .team-slider{
    &__inner{
      .slide-item{
        height: 260px;
      }
    }
  }

  .major-slider{
    &__inner{
      .slide-item{
        width: 300px;
        height: 350px;
      }
    }
  }

  .partners{
    &__inner{
      .cards{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        img{
          max-width: 40%;
          max-height: 80px;
        }
      }
    }
  }

  .request{
    &__inner{
      flex-wrap: wrap;
      .content, .form{
        width: 100%;
      }
      .content{
        margin-bottom: 32px;
        .title{
          text-align: center;
        }
        .subtitle{
          max-width: 100%;
          text-align: center;
        }
      }
    }
  }

  .actions{
    width: 100%;
    overflow: hidden;
    &__inner{
      display: flex;
      flex-direction: column;
    }
    &__content, &__sliders{
      width: 100%;
    }
    &__content{
      margin-bottom: 36px;
      .subtitle{
        margin-bottom: 0;
      }
    }
    &__sliders{
      position: relative;
      padding-left: 0;
      .swiper-pagination{
        margin-top: 20px;
        height: 24px;
        display: flex;
        align-items: center;
        padding-left: 180px;
        .swiper-pagination-bullet{
          width: 8px;
          height: 8px;
          background: #CCDEE2;
          border-radius: 8px;
          display: block;
          & + .swiper-pagination-bullet{
            margin-left: 12px;
          }
          &-active{
            background: $main-color !important;
          }
        }
      }
      .swiper-slide {
        width: 290px !important;
        min-width: 290px !important;
        max-width: 290px !important;
        height: 192px;
        border-radius: 10px;
        background-color: $main-color;
        background-image: url('@/assets/images/actions-bg.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        margin-left: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        span{
          color: white;
          font-size: 60px;
          line-height: 72px;
          letter-spacing: -1.2px;
          font-weight: 600;
        }
        p{
          text-align: center;
          margin: 0;
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
          color: white;
          font-weight: 600;
          text-align: center !important;
        }
        &:nth-child(2){
          background-color: #FFD504;
        }
        &:nth-child(3){
          background-color: #E6EEF1;
        }
        &:nth-child(4){
          background-color: $black-color;
        }
      }
    }
  }
}

.actions__sliders .swiper-slide p{
  text-align: center;
}